
<div class="header-area">
    {{> header-area}}
</div> <!-- End header area -->

<div class="site-branding-area">
    {{>site-branding-area}}
</div> <!-- End site branding area -->

<div class="mainmenu-area">
    {{>mainmenu}}
</div> <!-- End mainmenu area -->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container">
    {{#if cart}}
        <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
                <th style="width:50%">Sản phẩm</th>
                <th style="width:8%">Cỡ giày</th>
                <th style="width:10%">Giá tiền</th>
                <th style="width:10%"></th>
            </tr>
            </thead>
            <tbody>
            {{#each cart.items}}
                {{#if this}}
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs"><img src="{{this.img1}}" class="img-responsive"/></div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">{{this.name}}</h4>
                                </div>
                            </div>
                        </td>
                        <td>{{this.size}}</td>
                        <td data-th="Price">{{this.price}}</td>
                        <td>
                            <form action="/cart/remove/{{this._id}}" method="post">
                                <input name="removeSize" class="hidden" style="border: none;" value="{{this.size}}" readonly>
                                <a onclick="this.parentElement.submit()" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>
                            </form>
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
            </tbody>
            <tfoot>
            <tr>
                <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i>&nbsp;Tiếp tục mua sắm</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong>Tổng tiền&nbsp;{{formatCurrency cart.totalPrice}}</strong></td>
                <td>
                    <a href="/checkout" class="btn btn-success btn-block">Thanh toán với Credit Card&nbsp;<i class="fa fa-angle-right"></i></a>
                    <a href="/checkoutCOD" class="btn btn-primary btn-block">Thanh toán COD&nbsp;<i class="fa fa-angle-right"></i></a>
                </td>
            </tr>
            </tfoot>
        </table>
    {{else}}
        <img src="img/emptycart.png">
    {{/if}}
</div>


<!-- End product widget area -->

<div class="footer-top-area">
    {{>footer-top}}
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
    {{>footer-bot}}
</div> <!-- End footer bottom area -->
<!-- Latest jQuery form server -->
